* {
  font-family: "JetBrainsMono Nerd Font, monospace, sans-serif";
  font-weight: bold;
  font-size: 10px;
}

window#waybar {
  border-radius: 8px;
  background: #0d1117;
  color: #93b1a6;
}

tooltip {
  background: #0d1117;
  border-radius: 10px;
  /*border: 1px solid #21262d;*/
}

tooltip label {
  color: #93b1a6;
}

#workspaces {
  border-radius: 0 12px 12px 0;
  background-color: rgba(255, 255, 255, 0.08);
}

#workspaces button {
  /*min-width: 15px;*/
  padding: 0 3px;
  border-radius: 14px;
}

#workspaces button:not(:last-child) {
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.08);
}

#workspaces button.active,
#workspaces button.active:hover {
  background: #5c8374;
  color: #0d1117;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#backlight {
  background-color: rgba(255, 255, 255, 0.08);
}

#tray {
  padding: 0 12px;
}

#network {
  border-radius: 12px 0 0 12px;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#temperature.critical {
  color: red;
}

#clock {
  padding-right: 8px;
  border-radius: 0 12px 12px 0;
}
